.container{
    margin: auto;
    width: fit-content;
    margin-top: 150px;
}

.items_list{
    list-style-type: none;
}

.item{
    background-color: white;
    box-shadow: 0px 0px 10px black;
}

.text{
    font-family:system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" ;
    font-weight: 300;
    color: rgb(60, 60, 60);
    font-size: 15px;
    opacity: 90%;
}

.break{
    margin-bottom: 10px;
}