.container{
    width: fit-content;
    margin: auto;
    margin-top: 50px;
    /* border-style: solid;
    border-width: 2px;
    border-color: #ffe186; */
}

.contents_list{
    list-style: none;
    display: flex;
    align-items: center;
    padding-left: 0px;
    /* border-style: solid;
    border-width: 2px;
    border-color: #ffe186; */
}

.contents{
    margin-right: 80px;
    /* border-style: solid;
    border-width: 2px;
    border-color: #080600; */
}

.bus_layout{
    width: fit-content;
    border-style: solid;
    border-width: 2px;
    border-color: #ffe186;
    background-color: #ffe186;
    box-shadow: 0px 0px 10px black;
}

.seats_row{
    list-style: none;
    /* border-style: solid;
    border-width: 2px;
    border-color: #ffc107; */
    padding-left: 0px;
    margin-left: 5px;
    margin-right: 5px;
}

.seats_rows_list{
    list-style: none;
    display: flex;
    /* border-style: solid;
    border-width: 2px;
    border-color: #ffc107; */
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 0px;
    padding: 12px 12px;
    padding-top: 20px;
    background-color: white;
    /* box-shadow: 0px 0px 2px #ffc107; */
}

.break{
    margin-bottom: 25px;
}

.seats{
    margin-top: 0px;
    /* margin-bottom: 25px; */
    height: 18px;
    width: 18px;
    background-color: rgb(255, 255, 255);    
}

.booked{
    background-color: rgb(109, 109, 109);
    border-style: solid;
    border-width: 0.5px;
    border-color: rgb(109, 109, 109);
    opacity: 80%;
}

.available{
    background-color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 0.5px;
    border-color: rgb(137, 137, 137);
    cursor: pointer;
}

.selected{
    background-color: #ffc107;
    border-style: solid;
    border-width: 0.5px;
    border-color: #ffc107;
    cursor: pointer;
}

#walk_way{
    /* border-style: solid;
    border-width: 2px;
    border-color: palevioletred; */
    width: 60px;
    height: 100%;
}

.steering{
    width: fit-content; 
    margin-left: auto; 
    margin-right: 25px; 
    margin-top: 15px; 
    margin-bottom: 15px; 
    opacity: 65%;
}

.hover_text{
    display: none;
    z-index: 1000;
    position: absolute;
    font-family:system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" ;
    font-weight: 300;
    font-size: smaller;
    background-color: whitesmoke;
    border-width: 0.5px;
    border-style: solid;
    border-color: rgb(99, 99, 99);
    padding: 2px 6px;
}

.selected_seats_info{
    background-color: white;
    width: 350px;
    /* height: 400px; */
    padding: 25px 20px;
    padding-bottom: 20px;
    box-shadow: 0px 0px 10px black;
}

.selected_seats_info_text{
    font-family:system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" ;
    font-weight: 400;
    color: rgb(60, 60, 60);
    font-size: 17px;
    opacity: 90%;
}